body {
    background-color: #0D0D0D;
    color: white;
}

section[data-testid="stSidebar"] {
    background-color: #1a1a1a;
}

/* INPUT STYLE */
.stSelectbox, .stMultiSelect {
    background-color: #262626 !important;
    border-radius: 10px;
}

/* TAB STYLE */
div[data-baseweb="tab-list"] {
        justify-content: center !important;
        gap: 10px !important; 
        border-bottom: none !important;
    }

    /* Tamaño de fuente grande sin paddings excesivos */
    button[data-baseweb="tab"] {
        font-size: 24px !important;
        font-weight: 700 !important;
        padding: 10px 20px !important;
        color: #ffffff !important;
        border-bottom: 3px solid transparent !important;
    }

    /* Estilo de la pestaña activa */
    button[aria-selected="true"] {
        color: #00ff96 !important;
        border-bottom: 3px solid #00ff96 !important;
    }

/* INSIGHT BOX */
.insight-card {
    background: #1a1a1a;
    border-left: 4px solid #D94D1A;
    padding: 12px;
    border-radius: 10px;
    text-align: justify;
}

/* Limita la altura del multiselect a una línea y oculta las etiquetas */
[data-testid="stMultiSelect"] {
    max-height: 42px !important;
    overflow: hidden !important;
}

/* Oculta las etiquetas (los cuadraditos con la X) para que no ocupen espacio */
[data-baseweb="tag"] {
    display: none !important;
}

/* Ajusta el placeholder para que se vea como un desplegable normal */
[data-baseweb="select"] {
    height: 42px !important;
}